<div class="row">
  <div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
    <%= simple_form_for([current_user, @tool]) do |f| %>
      <%= f.select :tool_type, ['Power saw', 'Power drill', 'Hand tool', 'MIG welder', 'Other'],
                               prompt: "Select type of tool" %>
      <%= f.input :tool_model, prompt: "Set your model name" %>
      <%= f.select :condition, ['excellent', 'good', 'fair', 'bad'], prompt: "Select tool condition" %>
      <%= f.input :point_cost, collection: 1..10, label: "Price", prompt: "Set your price" %>
      <%= f.input :availability, inline_label: "This tool is ready to be loaned out" %>


      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>

